body{
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
}
/* Header */
.ms_nav_search{
    width: 25em;
}

/* Side nav */
.ms_side{
    height:calc(100% - 85px);
    width: 8em;
    background-color: #061e34;
}

/* Main */
/* Sub header */
.ms_sub-header-title{
    display: inline;
    font-size: 20px;
    color: #fff;
}